

/* fonts */

@font-face{
    font-family: "HolbertonIcons";
    src: url(fonts/holberton_school-icon.ttf);
    font-style: normal;
}
@font-face{
    font-family: 'Regular Source Sans Pro';
    src: url(fonts/SourceSansPro-Regular.otf);
    font-style: normal;
}
@font-face{
    font-family: 'Bold Source Sans Pro';
    src: url(fonts/SourceSansPro-Bold.otf);
    font-style: normal;
}
@font-face{
    font-family: 'Light Source Sans Pro';
    src: url(fonts/SourceSansPro-ExtraLight.otf);
    font-style: normal;
}
@font-face{
    font-family: 'Italic Source Sans Pro';
    src: url(fonts/SourceSansPro-It.otf);
    font-style: normal;
}
@font-face{
    font-family: 'Italic-Light Source Sans Pro';
    src: url(fonts/SourceSansPro-ExtraLightIt.otf);
    font-style: normal;
}

/* Root variabes */
:root{
    --font-regular: Regular Source Sans Pro;
    --font-bold: Bold Source Sans Pro;
    --font-light: Light Source Sans Pro;
    --font-italic: Italic Source Sans Pro;
    --font-italic-light: Italic-Light Source Sans Pro;
    --holberton-icons: HolbertonIcons;
    --color-white: #ffff;
    --global-color: #C271FF;
    --extra-sm-font-size:3rem;
    --sm-font-size: 4rem;
    --md-font-size: 5rem;
    --lg-font-size: 6rem;
    --extra-lg-font-size: 7rem;

}

/* global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn-global{
    background-color: var(--global-color) !important;
    font-family: var(--font-regular);
    color: var(--color-white) !important;
    padding: 12px !important;
    border-radius: 25px !important;
}
.btn-global:hover, .btn-global:active{
    opacity: 0.9
}
.regular-font{
    font-family: var(--font-regular);
}
.light-font{
    font-family: var(--font-light);
}
.bold-font{
    font-family: var(--font-bold);
}
.holberton_icons-font{
    font-family: var(--holberton-icons);
}

/* header styles */
.header{
    background-image: url('images/pic_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height:auto;
}
.header a:hover{
    color: var(--global-color) !important;
}

/* nav styles */
.header nav{
    margin-bottom: 100px;
}
.header nav .navbar-toggler{
    outline: none;
    border: none;
}
.header nav span{
    margin-top: -20px;
    color: var(--color-white);
    font-size: 35px;
}
.imgs{
    width: 25%;
    height: 25%;
}

/* pros styles */
.header .pros{
    margin-top: 140px;
}
.header .pros div p{
    font-size: 1.5rem;
}
.header .pros div p span{
    color: var(--global-color);
}
.header .pros img{
   border-radius: 50%;
   width: 40%;
   height: 50%;
}
.header .pros div div h3{
    font-size: 1.1rem;
}
.header .pros div div p{
    font-size: 0.9rem;
}


/* media queries */
@media only screen and (max-width: 576px){
    .first_title{
        font-size: var(--extra-sm-font-size);
    }
    .header .pros img{
        width: 80px;
        height: 80px;
    }
}
@media only screen and (min-width: 576px){
    .first_title{
        font-size: var(--sm-font-size);
    }
    .header .pros img{
        width: 100px;
        height: 100px;
    }
}
@media only screen and (min-width: 786px){
    .first_title{
        font-size: var(--md-font-size);
    }
    .header .pros img{
        width: 150px;
        height: 150px;
    }
}
@media only screen and (min-width: 960px){
    .first_title{
        font-size: var(--extra-lg-font-size);
    }
}
